@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.bars-anim{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: -1;
}
.bars-anim .bar{
    width: 100%;
    height: 100%; 
    background-color: #4a2a5c;
    transform: translateY(-100%);
    animation: bars-down 0.5s ease-in-out forwards;
    animation-delay: calc(0.1s * var(--i));
}
@keyframes bars-down{
    100%{
        transform: translateY(0);
    }
}


a{
    color: white;
    text-decoration: none;
}

.navbar{
    display: flex;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: #351b44be;
    opacity: 0;
    visibility: hidden;
    animation: nav-show 1s ease forwards;
    animation-delay: 1.4s ;
}
@keyframes nav-show{
    100%{
        opacity: 1;
        visibility: visible;
    }
}

.navbar .logo{
    color: #fff;
    font-size: 2rem;
    font-weight: 600;
    padding: 0.7rem 3rem;
    letter-spacing: 2px;
}

.navbar ul{
    display: flex;
    list-style: none;
    padding-right: 3rem;
}
.navbar ul li{
    margin-left: 1rem;
}

.navbar ul li a{
    display: flex;
    font-size: 1.3rem;
    transition: all 0.3s ease;
}

.navbar ul li a:hover{
    color: #1500ff;
}

.home{
    letter-spacing: -0.01rem;
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 10rem 9%;
    color: white;
    gap: 2rem;
    justify-content: space-between;
    opacity: 0;
    visibility: hidden;
    animation: nav-show 1s ease forwards;
    animation-delay: 1.6s ;
}
.home-info{
    flex: 1;
}
.home-info h1{
    font-size: 3rem;
    margin-bottom: -1rem;
}
.home-info h2{
    font-size: 2rem;
    font-weight: 400;
}
.home-info p{
    font-size: 1.2rem;
    color: #d1d1d1;
    font-weight: 300;
}
.home-info .home-btn{
    margin-left: -1.2rem;
}
.home-info .home-btn a{
    display: inline-flex;
    margin-top: 1rem;
    margin: 0.4rem 0.5rem;
    padding: 0.2rem;
    font-size: 1.2rem;
    border-radius: 50%;
    border: 0.1rem solid rgba(0, 0, 0, 0);
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}
.home-info .home-btn a i{
    font-size: 2.5rem;
}
.home-info .home-btn a:hover{
    background: white;
    color: #000000;
    transform: scale(1.1);
}


.home-img{
    flex: 1;
    display: flex;
    justify-content: center;
}
.home-img .img-box{
    position: relative;
    padding: 0.5rem;
    height: 30vw;
    width: 30vw;
    background-color: rgba(127, 255, 212, 0);
    border-radius: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
    overflow: hidden;

}


.home-img .img-box::before,
.home-img .img-box::after{
content: '';
position: absolute;
width: 30vw ;
height: 30vw ;
background: conic-gradient(transparent, transparent, transparent, #FF00FF);
transform: rotate(0deg);
animation: rotate 8s linear infinite;
}

@keyframes rotate{
    100%{
        transform: rotate(360deg);
    }
}

.home-img .img-box::after{
    animation-delay: -4s;
}

.home-img .img-box .img-item{
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    background-color: #4a2a5c;
    overflow: hidden;
}
.home-img .img-box .img-item img{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}   









































.main-body{
    min-height: 100vh;
    background-color: #5b5975;
    padding-top: 5rem;
}
.main-body h1{
    margin-left: 50%;
    transform: translateX(-50%);
}

.container{
    max-width: 80vw;
    height: 80vh;
    padding: 2rem;
    margin: auto;
}
.card-list .card-item .card-link{
    width: 80%;
    user-select: none;
    text-decoration: none;
    color: black;
    display: block;
    background: #9cada6;
    border-radius: 1rem;
    padding: 1rem;
    height: 100%;
}
.card-list .card-item{
    height: 70vh;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-list{

    width: 100%;
    height: 50vh;
}
.card-list .card-item .card-link .card-img{
    width: 100%;
    height: 75%;
    object-fit: cover;
    border-radius: 1rem;
    overflow: hidden;
}

.card-list .card-link .badge{
    width: max-content;
    border-radius: 1rem;
    color: rgb(0, 0, 0);
    padding: 0.5rem 1rem;
    font-size: 1rem;
    margin: 0.5rem 0 0.5rem;
    background: #3f53ac;
}

.swp-btn{
    color: rgb(0, 0, 0);
    transition: all 0.2s ease-in-out;
}
.swp-btn:hover{
    color: rgb(207, 207, 207);
    transform: scale(1.2);
}

.swp-btn.active {
    transform: scale(0.9);
    background-color: #2348ed;
    color: rgb(184, 40, 40);
}
.card-btn{
    width: 100px;
    height: 15px;
    background-color: #858585;
}

.card-wrapper{
    height: 100%;
}




















.about-body{
    width: 100vw;
    height: 100vh;
    padding: 2rem;
}